/* General */

body {
	margin: 0;
	font-family: 'PT Sans', 'Droid Sans', verdana, sans-serif;
	background: #555753;
}

a {
	text-decoration: none;
	color: #204a87;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-family: 'Droid Serif', georgia, times, serif;
	font-weight: normal;
	display: inline;
	color: #204a87;
	border-bottom: 3px solid #729fcf;
}

h2 {
	font-size: 1.2em;
}

em {
	font-weight: bold;
	font-style: normal;
}

li {
	list-style-type: square;
	margin-bottom: 0.5em;
}

/* Spans */

span.note {
	font-style: italic;
	font-size: 80%;
	color: #888a85;
}

/* Specific divs on the page */

#background {
	background: #fff;
}

#header {
	padding-top: 2em;
	padding-bottom: 1em;
	text-align: center;
}

#header h1 {
	font-size: 42px;
}

#main.menu {
	background-color: #5c3566;
	border: 0.1px solid #5c3566;
}

#main.menu p {
	color: #ad7fa8;
}

#main.menu li {
	font-size: 12pt;
	text-transform: uppercase;
}

div.menu {
	text-align: center;
	background-color: #204a78;
	border: 1px solid #204a78;
}

div.menu p {
	display: inline;
	color: #729fcf;
}

div.menu a {
	color: white;
}

div.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline;
}

div.menu li {
	font-size: 24pt;
	display: inline;
	padding: 0 1em;
}

div.menu li.current {
	font-weight: bold;
}

#container {
	padding-bottom: 4em;
	width: 45em;
	margin: 0 auto;
}

#content {
	margin: 3em 2em 0;
	text-align: justify;
}

#bigbuttons {
	margin-top: 3em;
    text-align: center;
}

/* Nice button tutorial:
http://webdesignerwall.com/tutorials/css3-gradient-buttons */
a.bigbutton {
    font-size: 32px;
    color: white;
	min-width: 18.2em;
	padding: 1em;
	margin: 1em;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border: 1px solid #ef2929;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #cc0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#d41e1e), to(#a40000));
	background: -moz-linear-gradient(top, #d41e1e,  #a40000);
}

a.bigbutton:hover {
    text-decoration: none;
    border: 1px solid #ef2929;
    background: #b60000;
	background: -webkit-gradient(linear, left top, left bottom, from(#cc0000), to(#910000));
	background: -moz-linear-gradient(top,  #cc0000,  #910000);
}

a.bigbutton:active {
	position: relative;
	top: 1px;
}

#license {
	font-size: x-small;
	font-style: italic;
	margin: 0;
}

#footer {
	border-top: 3px solid #204a87;
}

#footer p {
	text-align: center;
	font-size: small;
	color: #babdb6;
}

#footer a {
	color: #babdb6;
	border-bottom: 1px dotted;
}

#footer a:hover {
	text-decoration: none;
	border-bottom: 1px solid;
}
