/* Custom CSS for Advanced GTK Techniques tutorial */

/* General */

body {
	margin: 0;
	line-height: 1.5;
	font-family: 'Droid Serif', georgia, times, serif;
	min-height: 100%;
	direction: ltr;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "Droid Sans", Calibri, Sans;
    font-weight: normal;
    color: #204a87;
    margin: 30px 0 0 0;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: dotted thin #e0e0e0;
}

h2 {
    font-size: 1.2em;
    border-bottom: dotted thin #e0e0e0;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.0em;
}

p a {
	font-weight: bold;
	text-decoration: none;
	color: #4e9a06;
	border-bottom: 0px;
}

p a:visited,
h3 a:visited {
	color: #4e9a06;
}

a:hover {
	text-decoration: underline;
	color: #73d216;
	border-bottom: 0px;
}

p {
    text-align: justify;
}

p.last {
    margin-bottom: 0;
}

ol {
    padding-left: 20px;
}

ul {
    padding-left: 5px;
    margin-top: 3px;
}

/* Specific divs on the page, from top to bottom */

div.page {
	margin: 0;
	padding: 0;
	border: 0px;
	max-width: 100%;
}

div.banner {
    margin: 0;
    height: 85px;
    background: #eeeeee;
}

div.banner h1 {
    font-size: 1.6em;
    font-weight: normal;
    letter-spacing: 1px;
    color: #204a87;
    border: 0;
    margin: 0 40px;
    padding-top: 15px;
}

div.banner h1 a {
    font-weight: normal;
    color: #204a87;
}

div.banner h1 a:hover {
	text-decoration: none;
}

div.banner h2 {
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #aaa;
    border: 0;
    margin: -3px 40px 0;
    padding: 0;
}

div.body {
	margin: 1.5em auto;
	padding: 1em;
	max-width: 40em;  /* Width of the main column */
	min-height: 20em;
	font-size: 0.9em;
}

div.trails,
div.nextlinks {
	padding: 0;
	font-size: 0.8em;
	color: white;
	margin: 0;
	text-align: center;
}

div.trails {
	background: #5c3566;
}

div.nextlinks {
	float: none;
	background: #3465a4;
}

div.trail {
	margin: 0 1px 0.2em 1px;
	padding-left: 1.2em;
	color: white;
}

div.trail a,
div.nextlinks a {
	color: #eeeeec;
}

/* Remove Mallard's arrows from the previous/next links */
a.nextlinks-prev:before,
a.nextlinks-prev:after,
a.nextlinks-next:before,
a.nextlinks-next:after {
	content: '';
}

a.nextlinks-prev,
a.nextlinks-next,
a.nextlinks-contents {
  padding: 0 0.5em;
}

a.nextlinks-prev,
a.nextlinks-next {
	font-weight: bold;
}

a.linkdiv:visited {
	color: #4e9a06;
}

/* Inline styling elements */

span.cmd,
span.code,
span.file,
span.input,
span.output,
span.sys {
	font-family: "Bitstream Vera Mono", "DejaVu Sans Mono", Consolas, monospace;
}

/* Block styling elements */

/* Make the headers stick outside the text a little */
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title,
h7.title {
	margin-left: -3em;
	margin-right: -3em;
}

div.sect div.hgroup {
	border-bottom: 0px;
}

pre {
	font-family: "Bitstream Vera Mono", "DejaVu Sans Mono", Consolas, monospace;
	background: url('watermark-code.png') no-repeat top right;
	border: solid 2px #e0e0df;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.0em;
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size: 4;
}

/* Other divs */

div.topiclinks a:hover {
	text-decoration: none;
}

