Makefile.in.in
Makevars.template
POTFILES
Rules-quot
app-skeleton.pot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sin
quot.sed
remove-potcdate.sed
remove-potcdate.sin
stamp-po
*.gmo
.intltool-merge-cache
stamp-it
